{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link href="https://fonts.googleapis.com/css?family=Cabin|Open+Sans" rel="stylesheet">

{% block content %}

<h1>Vietnamese American Diaspora</h1>

<p>Click any president's name.</p>

<!-- pairs is a list that must be sent here by a route function

     The list will contain 45 pairs: a presidency number, and a
     president's name -->

    <ul>
    {% for pair in pairs %}
        <li><a href="{{ url_for( 'detail', num=pair[0] ) }}">{{ pair[1] }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
